html {
  font-size: 63%;
  box-sizing: border-box;
}

body,input,select,textarea{
  font-size: 1.6rem ;
  font-family: Verdana, Tahoma, sans-serif;
}



body, #root {
  height: 100vh;
  margin: 0;
}

.grid-container {
display: grid;
grid-template-areas: "header"
"main"
"footer";
grid-template-rows: 5rem 1fr 5rem;
grid-template-columns: 1fr;
height: 100% ;
}

header{
  grid-area: header;
  background-image: linear-gradient(to right,rgb(164, 125, 173) , rgb(136, 142, 209));
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0.5rem
}
header a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
main {
  grid-area: main;
}
footer{
  grid-area: footer;
  background-image: linear-gradient(to right,rgb(164, 125, 173) , rgb(136, 142, 209));
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

}